@media all {

    div.next-chapter-title {
        font-family: 'bonvenocflight', sans-serif;
        padding: 30px 0 10px 0;
        width: 100%;
        font-size: 14px;
        line-height: 36px;
        background-color: #000;
        opacity: 0.9;
        text-transform: uppercase;
        letter-spacing: 6px;
    }

    .next-chapter-title-blank {
        height: 102px !important;
    }

    .next {
        display: inline-block;
    }

    .chapter-arrow.next:before {
        content: url("../image/arrow_right.png");
        content: -webkit-image-set(url("../image/arrow_right.png") 1x, url("../image/arrow_right2x.png") 2x);
    }

}